body {
  background-color: darkblue;
}

.game {
  width: 100;
  height: auto;
  margin-bottom: 5px;
}

.gameimg {
  width: 60%;
  max-width: 512px;
  min-width: 256px;
}

.achievement {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: rgb(70,70,70);
}

#wide-well {
  width: 1200px;
  margin-left: 1px;
  margin-right: 1px;
}

#wide-row {
  width: 1200px;
  margin-left: 1px;
  margin-right: 1px;
}

#smaller-img {
  width: 75px;
  height: 75px;
}

.no-padding {
  margin: 0px;
  padding: 0px;
}

.ach-icon {
  width: 100;
  height: auto;
}

.ach-info {
  text-align: left;
}

.gameimg:hover {
  cursor: pointer;
}

#panel-achievements {
  height: 1024px;
  overflow: scroll;
}

#panel-games {
  height: 1024px;
  overflow: scroll;
}

#ach-yours {
  color: rgb(0,130,255);
}
#ach-shared {
  color: green;
}
#ach-theirs {
  color: darkorange;
}
#ach-neither {
  color: grey;
}
