.planet-selected {
	color:blue;
}

#output-image {
	width: 100%;
	height: auto;
}

body {
	background-color: rgb(10,10,10);
	color: rgb(0, 130, 255);
}

.jumbotron {
	background-color: black;
}

.btn {
	background-color: rgb(20,20,20);
	color: rgb(0, 130, 255);
	border-style: none;
	margin: 10px;
}

.btn:hover {
	background: rgb(0, 130, 255);
	color: rgb(20,20,20);
}
